.friend-list {
  width: 450px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 2px 12px -1px rgba(188, 192, 194, 1);
  margin-bottom: 20px;
  border-radius: 15px;
  gap: 40px;
}
.isOnline {
  background-color: green;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-left: 20px;
}
.isOffline {
  background-color: red;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-left: 20px;
}
.avatar {
  width: 100px;
  padding: 10px 0px;
}
.name {
  font-size: 32px;
}
